@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    margin: 0;
    background-image: url(./bg.jpg);
    background-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    margin: 0 auto;
    width: 1000px;
    display: grid;
    justify-items: center;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    color: #2E8B57;
    text-shadow: 1px 1px 3px #fff;
}

.mainBlock {
    width: 50em;
    background: #b9d6ad;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    margin-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
}

.mainBlock div {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}


.textIn {
    height: 2em;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#addBtn {
    border: none;
    background-color: rgb(58, 165, 104);
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

#addBtn:hover {
    background-color: rgb(41, 122, 77);
}

input[type="date"] {
    height: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    list-style: none;
    padding-left: 0;
}

li {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
    margin-bottom: 1em;
    align-items: center;
    height: 2em;
}

input,
button {
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1em;
}

img {
    width: 1em;
}

#deleteBtn, #doneBtn {
    border: none;
    background: #b9d6ad;
    opacity: 0.9;
}

.done {
    text-decoration: line-through;
}